{% extends "layout/app.html" %} {% block content %}
<!-- Start Slider -->
<section id="home">
  <article class="content">
    <div
      id="rev_slider_1083_1_wrapper"
      class="rev_slider_wrapper fullwidthbanner-container"
      data-alias="travel"
      data-source="gallery"
      style="
        margin: 0px auto;
        background-color: transparent;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      "
    >
      <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
      <div
        id="rev_slider_1083_1"
        class="rev_slider fullwidthabanner"
        style="display: none"
        data-version="5.4.1"
      >
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-3070"
            data-transition="parallaxhorizontal"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="off"
            data-title="Number One"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="{{url_for('static',filename='images/travel2.jpg')}}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->
          </li>
          <!-- SLIDE  -->
          <li
            data-index="rs-3071"
            data-transition="parallaxhorizontal"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="default"
            data-rotate="0"
            data-saveperformance="off"
            data-title="Number Two"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="{{url_for('static',filename='images/travel3.jpg')}}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->
          </li>
        </ul>
        <div style="" class="tp-static-layers">
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption Travel-BigCaption tp-resizeme tp-static-layer"
            id="slider-1083-layer-1"
            data-x="['left','left','left','left']"
            data-hoffset="['90','90','60','40']"
            data-y="['center','center','center','center']"
            data-voffset="['0','0','0','0']"
            data-fontsize="['50','50','50','35']"
            data-lineheight="['50','50','50','35']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-startslide="0"
            data-endslide="3"
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 5;
              white-space: nowrap;
              text-transform: left;
              color: #470521;
            "
          >
            Feel Safe with <br />
            Mom’s Care
          </div>

          <!-- LAYER NR. 2 -->
          <div
            class="tp-caption Travel-SmallCaption tp-resizeme tp-static-layer"
            id="slider-1083-layer-2"
            data-x="['left','left','left','left']"
            data-hoffset="['90','90','60','40']"
            data-y="['center','center','center','center']"
            data-voffset="['80','80','80','80']"
            data-fontsize="['25','25','25','20']"
            data-lineheight="['30','30','30','20']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-startslide="0"
            data-endslide="3"
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 6;
              white-space: nowrap;
              text-transform: left;
              color: #222222;
            "
          >
            The best Care in the Pregnancy Industry
          </div>

          <!-- LAYER NR. 3 -->
          <div
            class="tp-caption Travel-CallToAction cs-button x-small tp-static-layer"
            id="slider-1083-layer-3"
            data-x="['left','left','left','left']"
            data-hoffset="['90','90','60','40']"
            data-y="['center','center','center','center']"
            data-voffset="['150','150','150','150']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
            data-responsive_offset="on"
            data-responsive="off"
            data-startslide="0"
            data-endslide="3"
            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(61, 9, 31, 1.00);bg:rgba(61, 9, 31, 0.15);bw:2px 2px 2px 2px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[20,20,20,20]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[20,20,20,20]"
            style="
              z-index: 7;
              white-space: nowrap;
              text-transform: left;
              outline: none;
              box-shadow: none;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              cursor: pointer;
            "
          >
            Talk To Us
          </div>
        </div>
        <div
          class="tp-bannertimer tp-bottom"
          style="height: 7px; background-color: rgba(0, 0, 0, 0.25)"
        ></div>
      </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
  </article>
</section>
<!-- End Slider -->

<section id="services" class="section-ptb-0">
  <div class="row no-gutter">
    <div
      class="col-lg-6 col-12"
      data-jarallax='{"speed": 0.0}'
      style="background-image: url({{url_for('static',filename='images/about.jpg')}})"
    >
      <div
        class="px-100 py-140 sm-pl-30 sm-pr-30 sm-pb-30 sm-pt-30 text-right xs-text-center"
      >
        <div class="section-heading text-right">
          <h6 class="sub-heading">About us</h6>
          <h1 class="heading fs-40">
            Welcome to the<br />
            <span class="theme-color"
              >Healthy Pregnancy<br />
              Center!</span
            >
          </h1>
        </div>
        <div class="mt-30">
          <a class="cs-button medium" href="#">Make an Appointment</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row no-gutter">
        <div class="col-md-4 col-12">
          <div class="ser-box feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-1.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Birth Control</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="ser-box bx2 feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-2.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Pregnancy Testing</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="ser-box feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-3.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Family planning</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="ser-box bx2 feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-4.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Gynecology</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="ser-box feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-6.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Fertility medication</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="ser-box bx2 feature-txt text-center mb-0">
            <div class="feature-icon mb-20">
              <img
                src="{{url_for('static',filename='images/icon-5.png')}}"
                class=""
                alt=""
              />
            </div>
            <div class="feature-info">
              <h4 class="text-back mb-20">Abortion Services</h4>
              <p>
                while the lovely valley teems with vapour around me, and the...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-80">
      <div class="col-md-4 col-12">
        <div class="feature-txt text-center mb-50">
          <div class="feature-icon">
            <i class="fa fa-clock-o theme-color"></i>
          </div>
          <div class="feature-info mb-20 px-30">
            <h4 class="fs-16 f-w6">Opening Hours</h4>
            <p>Monday - Friday: 09.00 - 19.00</p>
            <p>Saturday: 09.00 - 17.00</p>
            <p>Sunday: 09.30 - 18.00</p>
          </div>
          <a class="cs-button cs-button-border x-small" href="#">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature-txt text-center xs-mb-50">
          <div class="feature-icon">
            <i class="fa fa-stethoscope theme-color"></i>
          </div>
          <div class="feature-info mb-20 px-30">
            <h4 class="fs-16 f-w6">Medical Care</h4>
            <p>
              Lorem ipsum dolor sit ametcon sect. adipiscing elit, sed do
              eiusmod tempor incididunt ut lab
            </p>
          </div>
          <a class="cs-button cs-button-border x-small" href="#">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature-txt text-center">
          <div class="feature-icon">
            <i class="fa fa-ambulance theme-color"></i>
          </div>
          <div class="feature-info mb-20 px-30">
            <h4 class="fs-16 f-w6">Emergency Care</h4>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialial.
            </p>
          </div>
          <a class="cs-button cs-button-border x-small" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="appointment"
  class="section-ptb-150"
  data-jarallax='{"speed": 0.0}'
  style="background-image: url({{url_for('static',filename='images/app-bg.jpg')}})"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="section-heading text-left mb-50">
          <h1 class="heading">Register</h1>
        </div>

        {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
        {% endif %}

        <form
          class="mt-30"
          id="contact"
          name="contact"
          method="post"
          action="/register"
        >
          <div class="contact-form app-form form-border clearfix">
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                value="{{ form_data['name'] }}"
                name="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-field">
              <input
                class="form-control"
                required
                value="{{ form_data['email'] }}"
                type="email"
                name="email"
                placeholder="Your Email"
              />
            </div>
            <div class="form-field">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="*********"
                required
              />
            </div>
          </div>

          <div class="form-field w-100">
            <button name="submit" type="submit" class="cs-button">
              Register
            </button>
          </div>
        </form>
      </div>

      <div class="col-md-6 col-12">
        <div class="section-heading text-left mb-50">
          <h1 class="heading">Login</h1>
        </div>

        {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
        {% endif %}

        <form
          class="mt-30"
          id="login"
          name="contact"
          method="post"
          action="/login"
        >
          <div class="contact-form app-form form-border clearfix">
            <div class="form-field">
              <input
                class="form-control"
                required
                value="{{ form_data['email'] }}"
                type="email"
                name="email"
                placeholder="Your Email"
              />
            </div>
            <div class="form-field">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="*********"
                required
              />
            </div>
          </div>

          <div class="form-field w-100">
            <button name="submit" type="submit" class="cs-button">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="section-ptb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-heading text-center">
          <h1 class="heading">Your dream - Our mission</h1>
          <p>
            A small river name Duden flows by their place es supplies with the
            necessary regelialia esser paradisematic country.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-12">
        <div
          class="owl-carousel owl-theme"
          data-nav-dots="true"
          data-items="2"
          data-md-items="2"
          data-sm-items="1"
          data-xs-items="1"
          data-xx-items="1"
        >
          <div class="item">
            <div class="testimonials">
              <div class="testimonials-avatar">
                <img
                  alt=""
                  src="{{url_for('static',filename='images/testimonials/avtar-1.jpg')}}"
                />
              </div>
              <div class="testimonials-info">
                Aenean pulvinar, turpis non consectetur feugiat, ipsum urna
                dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet
                aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.
              </div>
              <div class="author-info">
                <strong>Caspian Bellevedere<span> - Lorem Ipsum</span></strong>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials">
              <div class="testimonials-avatar">
                <img
                  alt=""
                  src="{{url_for('static',filename='images/testimonials/avtar-2.jpg')}}"
                />
              </div>
              <div class="testimonials-info">
                Aenean pulvinar, turpis non consectetur feugiat, ipsum urna
                dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet
                aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.
              </div>
              <div class="author-info">
                <strong>Johen doe<span> - Lorem Ipsum</span></strong>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials">
              <div class="testimonials-avatar">
                <img
                  alt=""
                  src="{{url_for('static',filename='images/testimonials/avtar-3.jpg')}}"
                />
              </div>
              <div class="testimonials-info">
                Aenean pulvinar, turpis non consectetur feugiat, ipsum urna
                dapibus sem, sit amet vulputate mi nisl et sapien. Nam laoreet
                aliquam sollicitudin. Curabitur nisl ligula, gravida sit amet.
              </div>
              <div class="author-info">
                <strong>Mical Smith<span> - Lorem Ipsum</span></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-0 bg-light">
  <div class="row align-items-center no-gutter">
    <div class="col-lg-6 col-12">
      <div class="px-100 xs-px-20 xs-py-30">
        <div class="section-heading text-left max-width-650 mb-30">
          <h1 class="heading">We are helping people who are:</h1>
        </div>
        <p class="max-width-700 mb-20">
          Eiusmod tempor incididunt ut labore et dolore magna aliqua. Utas sed
          enim ad minim veniam, quis nostrud exercitation ipsum ullamco laboris
          nisi aliquip ex ea commodo consequat duis aute irure.
        </p>

        <ul class="list list-hand">
          <li>Couples Who Cannot Conceive Naturally</li>
          <li>Single Women Who Want to Get Pregnant</li>
          <li>Men With Fertility Issues</li>
          <li>Couples With Recurrent Pregnancy Losses</li>
          <li>Couples Carrying Genetically Inherited Disorders</li>
          <li>Cancer Patients Who Want to Preserve Their Eggs</li>
          <li>Women Who Want to Freeze Their Eggs</li>
        </ul>

        <a class="cs-button x-small mt-30" href="#">Book A Visit</a>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="portfolio-item video">
        <img
          src="{{url_for('static',filename='images/video.jpg')}}"
          class="img-fluid"
          alt=""
        />
        <a
          class="popup portfolio-img"
          rel="prettyPhoto[gallery1]"
          href="https://youtu.be/nl5vUwaHZ8U"
          ><img
            src="{{url_for('static',filename='images/play.png')}}"
            class="img-fluid"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</section>

<section
  class="section-ptb-80"
  data-jarallax='{"speed": 0.0}'
  style="background-image: url({{url_for('static',filename='images/bg-img.jpg')}})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-6 sm-mb-30 text-center">
        <div class="counter left-icon text-white">
          <i class="fa fa-user white" aria-hidden="true"></i>
          <h1 class="count f-w6 white">1021</h1>
          <label>HAPPY CUSTOMERS</label>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-6 sm-mb-30 text-center">
        <div class="counter left-icon text-white">
          <i class="fa fa-trophy white" aria-hidden="true"></i>
          <h1 class="count f-w6 white">200</h1>
          <label>HEALTH INSURANCE</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-6 sm-mb-30 text-center">
        <div class="counter left-icon text-white">
          <i class="fa fa-pie-chart white" aria-hidden="true"></i>
          <h1 class="count f-w6 white">400</h1>
          <label>TRUST MEMBERS</label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-6 sm-mb-30 text-center">
        <div class="counter left-icon text-white">
          <i class="fa fa-heartbeat white" aria-hidden="true"></i>
          <h1 class="count f-w6 white">600</h1>
          <label>SUCCESS AWARDS</label>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="doctor" class="section-ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center max-width-550 mx-auto">
          <h1 class="heading">Our Specialised Team</h1>
          <p>
            A small river name Duden flows by their place es supplies with the
            necessary regelialia esser paradisematic country.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-md-4 col-12 xs-mb-30">
        <div class="team team-hover team-shadow">
          <div class="team-photo">
            <img
              class="img-fluid mx-auto"
              src="{{url_for('static',filename='images/team/team-4.jpg')}}"
              alt=""
            />
          </div>
          <div class="team-description">
            <div class="team-info">
              <h4><a href="team-single.html"> Dr. Laura Dixon</a></h4>
            </div>
            <div class="team-contact">
              <p class="fs-16 mb-10">Medicine Specialist</p>
            </div>
            <div
              class="social-icons social-border rounded color-hover clearfix"
            >
              <ul>
                <li class="social-facebook">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-twitter">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-instagram">
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-linkedin">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 xs-mb-30">
        <div class="team team-hover team-shadow">
          <div class="team-photo">
            <img
              class="img-fluid mx-auto"
              src="{{url_for('static',filename='images/team/team-5.jpg')}}"
              alt=""
            />
          </div>
          <div class="team-description">
            <div class="team-info">
              <h4><a href="team-single.html"> Druid Wensleydale</a></h4>
            </div>
            <div class="team-contact">
              <p class="fs-16 mb-10">Medicine Specialist</p>
            </div>
            <div
              class="social-icons social-border rounded color-hover clearfix"
            >
              <ul>
                <li class="social-facebook">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-twitter">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-instagram">
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-linkedin">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="team team-hover team-shadow">
          <div class="team-photo">
            <img
              class="img-fluid mx-auto"
              src="{{url_for('static',filename='images/team/team-7.jpg')}}"
              alt=""
            />
          </div>
          <div class="team-description">
            <div class="team-info">
              <h4><a href="team-single.html"> Phillip Anthropy</a></h4>
            </div>
            <div class="team-contact">
              <p class="fs-16 mb-10">Medicine Specialist</p>
            </div>
            <div
              class="social-icons social-border rounded color-hover clearfix"
            >
              <ul>
                <li class="social-facebook">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-twitter">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-instagram">
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-linkedin">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
