<header class="top-bar header-fancy-topbar">
  <div class="topbar">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="topbar-social text-center text-md-left">
            <ul class="list-inline d-md-flex">
              <li>
                <a href="#"><span class="ti-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-twitter-alt"></span></a>
              </li>
              <li>
                <a href="#"><span class="ti-linkedin"></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 xs-mb-10">
          <div class="topbar-call text-center text-md-right">
            <ul
              class="list-inline d-md-flex d-inline-block justify-content-end"
            >
              <li><i class="fa fa-envelope"></i>info@pregnancycare.com</li>
              <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+2349073443949">
                  <span>+(234) 907-344-3949 </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav hidden class="nav-white header-fancy">
    <div class="nav-header">
      <a href="/" class="brand">
        <img
          src="{{url_for('static',filename='images/brand/logo.png')}}"
          class="img-fluid"
          alt=""
        />
      </a>
      <button class="toggle-bar">
        <span class="ti-menu"></span>
      </button>
    </div>
    <ul class="menu">
      <li class="scrollspy active"><a href="#home">Home</a></li>
      <li class="scrollspy"><a href="#services">Services</a></li>
      {% if session.user %}

      <li class="scrollspy"><a href="chat">Chat</a></li>
      <li class="scrollspy"><a href="logout">Logout</a></li>
      {% else %}

      <li class="scrollspy"><a href="#appointment">Register</a></li>
      <li class="scrollspy"><a href="#appointment">Login</a></li>

      {% endif %}
    </ul>
  </nav>
</header>
